<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="APITestSuite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.myapiproject.testcases.DeleteParticularBookingTest"/>
      <class name="com.myapiproject.testcases.GetAllBookingIdsTests"/>
      <class name="com.myapiproject.testcases.GetSingleBookingRecordJSON"/>
      <class name="com.myapiproject.testcases.GetSingleBookingRecordXML"/>
      <class name="com.myapiproject.testcases.UpdateBookingRecordTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
